#pizzazz {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#pizzazz a {
    border: none;
}

#pizzazz .clearfix {
    height: auto;
}

#pizzazz .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.pi-container {
    clear: both;
    margin: 8px auto;
    padding-bottom: 20px;
    width: 100%;
}

.pi-focus {
    padding-bottom: 15px;
}

.pi-focus img {
    display: block;
}

.pi-hide {
    display: none;
}

div.pi-focus, div.pi-meta {
    display: block;
    float: left;
}

div.pi-focus {
    width: 60%;
}

div.pi-meta {
    width: 40%;
}

div.pi-meta p {
    margin-bottom: 0;
}

#pizzazz .pi-meta h2 {
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
    font-size: 32px;
    border-bottom: 1px dashed #dcdcdc;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 0;
}

#pizzazz h2 span.pz-title {
    font-weight: bold;
}

/* Slider Arrows */

#carouselControlsAbove {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#carouselControlsAbove a {
    position: relative;
    text-decoration: none;
}

#carouselControlsAbove .prev span:after,
#carouselControlsAbove .next span:before {
    font-family: "dashicons";
    display: inline-block;
    content: "\f340";
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    vertical-align: middle;
}

#carouselControlsAbove .next {
    margin-left: 2px;
}

#carouselControlsAbove .next span:before {
    content: "\f344";
    margin-left: -4px;
}

#carouselControlsAbove .prev span:after,
#carouselControlsAbove .next span:before {
    background-color: #AAA !important;
}

#carouselControlsAbove .prev:hover span:after,
#carouselControlsAbove .next:hover span:before {
    background-color: #dcdcdc !important;
}

.carousel li a img:hover {
    opacity: .6;
}

#carouselWrapper {
    margin: 0 auto;
    padding: 0;
    position: relative;
    left: -20px;
}

.carouselBox .carousel {
    left: 25px !important;
}

.carouselBox .carousel li {
    margin: 0px 10px 0px 0px;
}

/* Mobile */

#pi-main-pane,
#pizzazz.mobile div[id^="pi-focus"] {
    overflow: visible;
    width: 100%;
}

#pizzazz.mobile .pi-focus img {
    border: 1px solid #dcdcdc;
}

#pizzazz.mobile .pi-container {
    padding-bottom: 40px;
}

#pizzazz.mobile .pi-meta {
    list-style-position: inside;
}